<h1>Soccer Scraper GOOOOOOOOOLLLLL!!!</h1>

This Rails application is designed to scrape a website to obtain the
latest MLS soccer scores.

<p>

To get started review the
<a href=https://github.com/samiam/scraper/>README.</a>

<h3>Getting Started</h3>

<ul>
  <li> Checkout the code: git clone https://github.com/samiam/scraper.git
  <p>
  <li> Install gems:  bundle install
  <p>
  <li> Run Postgres db:  postgres -D /usr/local/var/postgres
  <p>
  <li> Create and seed the database: rake db:setup
  <p>
  <li> Start Rails: bin/rails server
  <p>
  <li> Vist the <a href="<%= matches_path %>">matches</a> page
  <p>
  <li> Enjoy the scores!
</ul>
