<h1>Soccer Scraper GOOOOOOOOOLLLLL!!!</h1>

This Rails application is designed to scrape a website to obtain the
latest MLS soccer scores.

<p>

These scores will be stored in the database and then can be viewed by
the client.  The client can interact with the data via a REST interface.

<p>

<h3>Getting Started</h3>

<ul>
  <li> Checkout the code: git clone https://github.com/samiam/scraper.git
  <p>
  <li> Create the database: rake db:migrate
  <p>
  <li> Seed the database: rake db:seed
  <p>
  <li> Start Rails: bin/rails server
  <p>
  <li> Visit <a href="http://localhost:3000/matches">http://localhost:3000/matches</a>
  <p>
  <li> Enjoy the scores!
</ul>
