<h1>Soccer Scraper GOOOOOOOOOLLLLL!!!</h1>

This Rails application is designed to scrape a website to obtain the
latest MLS soccer scores.

<h3>Heroku App</h3>

To play with the application online click <a href="/matches">here</a>.

<h3>Local Install</h3>

To install the scraper application locally review the
<a href=https://github.com/samiam/scraper/>README</a>.
